.navbar-container {
    top: 0;
    left: 0;
    position: fixed;
    font-family: 'Rubik', sans-serif;
    width: 30vh;
    height: 100vh;
    background: #fde100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.6);
}
.navbar-container img {
    width: 150px;
    position: absolute;
    top: 20px;
}

.navbar-container a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    padding: 5px 0;
    transition: .5s ease;
    cursor: pointer;
}
.navbar-container a:hover, .navbar-container a.active {
    background-color: #e2cd27;
}