.news-container {
    min-height: 40%; 
    width: 105%;
    color: #000;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.news-container h1{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-images {
    top: -40px;
    left: -10px;
    height: 80%;
    width: 100%;
    z-index: 10;
    transform: rotate(-1deg);
    position: relative;
}
.news-images img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.news-header {
    height: 80px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    transform: skewY(.8deg);
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.6);
}
.news-header h1 {
    padding-top: 10px;
    
}
/* mini */
.section-header {
    font-size: 2.5rem;
    color: #818181;
}
.mini-news-container {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    position: relative;
    padding-bottom: 10px;
}
.mini-news {
    font-family: 'Rubik', sans-serif;
    margin-top: 2%;
    margin-bottom: 10px;
    width: 19%;
    height: 45vh;
    background: #fde100;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.6);
    transition: .1s ease-in-out;
}
.mini-news:hover {
    background: #fcf093;
}
.mini-news a {
    text-decoration: none;
}
.mini-news img {
    height: 45%;
    width: 100%;
}
.mini-news-desc {
    height: 55%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mini-news-title {
    height: 30%;
    width: 80%;
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini-news-title-desc {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;

}