.player-card-wrapper {
    width: 33.3%;
    min-height: 20vh;
    padding-top: 9vh;
    display: flex;
    gap: 2%;
    font-family: 'Rubik', sans-serif;
    position: relative;
}
.player-card-image img{
    object-fit: cover;
}
.player-card-info{
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
@media all and (max-width:360px) {
    .player-card-wrapper {
        width: 100%;
    
    }
}
@media all and (max-width:1024px) {
    .player-card-wrapper {
        width: 50%;
        padding-top: 9vh;
    }
    .player-card-image img{
        padding-top: 10px;
    }
}